<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign-up!</title>
  <link rel="stylesheet" href="/css/jass.css">
</head>

<body>
  <header class="display-flex justify-space-between align-center p-2">
    <h1>
      Sign up for FREE
    </h1>
  </header>

  <div>
    <nav>
      <a href="/">Home</a>
      <a href="/dashboard">Dashboard</a>
      {{#if loggedIn}}
      <button id="logout">
        Log Out
      </button>
      {{else}}
      <a href="/login">Login</a>
      {{/if}}
    </nav>
  </div>
  <main class="container container-fluid mt-5">
    <!-- Render the contents of the sub layout here -->
    {{{ body }}}
  </main>
  {{#if loggedIn}}
  <script src="./js/logout"></script>
  {{/if}}
</body>

</html>